{% extends "mentor.html" %}

{% block mentor_content %}
{% load static %}
    <div id="user-menu">
        <ul>
            <li><a  class="user-menu-selected" href="{%url 'mentor_predmeti' %}">Predmeti</a></li>
        </ul>
    </div>
    <div class="mentor-predmeti-container">
        <div id="add-subject-container">
        </div>
        
        <div class="user-predmeti-list">
            <form method="POST">
                {% csrf_token %}
                <table>
                {% for predmet in predmeti %}
                    <tr>
                        <td><p>{{ predmet.kod }}</p></td>
                        <td><a id="predmet" href="{% url 'mentor_predmeti_studenti' predmet.id %}"><p>{{ predmet.ime }}</p></a></td>
                   
                    </tr>
                {% endfor %}
                </table>
            </form>
        </div>
    </div>

    
{% endblock mentor_content %}